*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* o el que prefieras */
  background-color: #fff;  /* color de fondo por defecto */
  color: #000;             /* color de texto por defecto */
}

::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000;
  /* Fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #f68433d5;
  /* Color naranja */
  border-radius: 10px;
  /* Curvas en el pulgar */
  border: 2px solid #fff;
  /* Borde blanco alrededor */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c00;
  cursor: pointer;
  /* Cambio de color al pasar el mouse */
}

/* Barra de navegación */
.navbar-custom {
  background-color: #fffafa;
  /* Color de la barra de menú */
  border-bottom: 1px solid #e9e9e9;
  /* Línea de separación */
  padding-top: 17px;
}

/* Logo / marca */
.navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  color: #000000d8;
  transition: all 0.3s;
}

.navbar-brand:hover {
  color: #f68433;
  transform: scale(1.2);
}

/*MENU HAMBURGUESA*/
.navbar-toggler {
  color: #a2a0a0;
  border-color: #ffffff;
  box-shadow: 0 2.5px 2.5px 0 #ffffff;
}

/*SERVICIOS - COTIZAR*/
.navbar-nav .nav-link {
  color: #000000d8;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  margin: 15px;
  margin-right: 50px;
  transition: all 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #f68433;
  transform: scale(1.2);
}

.hero {
  background: url('https://images.unsplash.com/photo-1587049352851-8727b81e7987?auto=format&fit=crop&w=1600&q=80') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 6rem 2rem;
  background-attachment: fixed; /* Parallax effect */
}


.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}

.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 20px;
  color: #000;
}

.btn-primary {
  background-color: #d72638;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.services {
  padding: 4rem 2rem;
  text-align: center;
}

.services p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.services h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.service-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Contenedor de la imagen */
.service {
  position: relative;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px; /* Mismo borde redondeado */
}

/* Imagen */
.service img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
  padding: 10px;
  cursor: pointer;
}

.service:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay p {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  max-width: 80%;
}

.btn-green {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.btn-green:hover{
  background-color: #ff7215;
  color: #000000;
  transform: scale(1.1);
}

.info-mapa {
  background-color: #000000;
  color: white;
}

.info-mapa h2 {
  font-size: 2rem;
  font-weight: bold;
}

.info-mapa iframe {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.btn-primario {
  background-color: #ff7215;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.btn-primario:hover {
  background-color: #e6600d;
  transform: scale(1.1);
}